DB_HOST=db #dirección del host de la base de datos, por ejemplo, localhost (si usas xampp) o db (si lo montas en docker)
DB_NAME=certiflow #nombre de la base de datos
DB_USER=root #usuario de la base de datos
DB_PASS= #contrasena del usuario de la base de datos (por defecto vacio)