# ── Modo Docker ───────────────────────────────────────────────
CONTAINER_NAME=certiflow_db
DOCKER_DB_NAME=certiflow
DOCKER_DB_USER=root
DOCKER_DB_PASS=

# ── Modo directo (XAMPP / servidor remoto) ─────────────────────
SERVER_DB_HOST=localhost
SERVER_DB_NAME=#base de datos en el servidor remoto
SERVER_DB_USER=#usuario de la base de datos en el servidor remoto
SERVER_DB_PASS=#contraseña de la base de datos en el servidor remoto

# ── Ruta al archivo SQL (relativa a la carpeta utils/) ─────────
INIT_SQL_PATH=../database/init.sql
BACKUP_DIR=../database/backup
